# Dependencias
node_modules/
.pnp
.pnp.js

# Builds
dist/
dist-electron/
release/
build/
out/

# Cache
.cache/
.parcel-cache/
.turbo/
.vite/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
Thumbs.db

# Bases de datos locales (datos de prueba)
*.db
*.db-journal
*.db-wal
*.db-shm

# Variables de entorno
.env
.env.local
.env.*.local

# Sistema operativo
.DS_Store

# Archivos temporales
*.tmp
*.temp
